<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href={{ url_for( 'static', filename='style.css' ) }} />
</head>

<body>
    <h1>What's being reported about {{ topic }}?</h1>
    <input type="text" id="searchBox" name="keyword" required
       minlength="1" size="10">
    <button id="seachButton">Search</button> 
    <div id="items" class='container'>
        {% for i in range(10) %}
        <div class='item'>
            <p><b>{{ headlines[i] }}</b></p>
            <p>{{ snippets[i] }}</p>
        </div>
        {% endfor %}
    </div>
<script type="text/javascript" src="/static/script.js"></script>
</body>

</html>
